$font-primary: 'Open Sans', sans-serif;
$blue-primary: #2196F3;
$blue-light: #F1FCFF;
$gray-border: #DFE5EC;
$gray-text: #A0B0B9;
$black-text: #4A4A4A;
$white: #FFFFFF;
$background-color: #F3F7FA;

// Sizes
$header-height: 60px;
$sidebar-width: 232px;
$border-radius: 5px;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-size-xs: 12px;
$font-size-sm: 13px;
$font-size-md: 14px;
$font-size-lg: 24px;