@import 'variables';

body {
  font-family: $font-primary;
  margin: 0;
  background-color: $background-color;
  color: $black-text;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}